*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;
background:#04060d;
color:white;
overflow:hidden;

}

#bg{

position:fixed;
inset:0;
z-index:-1;

}

#app{

width:100%;
max-width:430px;
height:100vh;
margin:auto;

display:flex;
align-items:center;
justify-content:center;

padding:20px;

}

.page{

display:none;

width:100%;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.12);

border-radius:24px;

padding:28px;

text-align:center;

box-shadow:

0 0 40px rgba(0,220,255,.18);

animation:fade .5s;

}

.page.active{

display:block;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:none;

}

}

h1{

font-family:'Orbitron',sans-serif;

font-size:2rem;

margin:18px 0;

color:#73ddff;

text-shadow:

0 0 15px #00cfff;

}

h2{

font-family:'Orbitron',sans-serif;

margin-bottom:18px;

color:#69dbff;

}

h4{

letter-spacing:4px;

font-size:.8rem;

color:#73ddff;

margin-bottom:12px;

}

p{

margin:12px 0;

color:#d9d9d9;

line-height:1.5;

}

.terminal{

background:#02040b;

border:1px solid #143c56;

border-radius:14px;

padding:18px;

text-align:left;

font-family:monospace;

color:#72ffd0;

margin:25px 0;

}

button{

margin-top:24px;

width:100%;

padding:16px;

border:none;

border-radius:14px;

background:

linear-gradient(90deg,#00d4ff,#6b5cff);

color:white;

font-weight:bold;

font-size:1rem;

cursor:pointer;

transition:.3s;

box-shadow:

0 0 25px rgba(0,212,255,.25);

}

button:hover{

transform:scale(1.04);

}

input{

width:100%;

padding:16px;

margin-top:18px;

border-radius:12px;

border:1px solid #30516d;

background:#0d1320;

color:white;

text-align:center;

font-size:1rem;

outline:none;

}

#constellation{

width:100%;

margin-top:20px;

border-radius:18px;

background:#08111d;

}

#hearts{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:12px;

margin-top:25px;

}

.heart{

font-size:34px;

cursor:pointer;

transition:.25s;

}

.heart:hover{

transform:scale(1.2);

}
